/* <!-- Образец №1 --> */

/* .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 1s all;
    background: blue;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.green {
    background: green;
}

.circle {
    border-radius: 50%;
} */

  /* Образец №1/ */

  /* Образец №2 */

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    border-radius: 6px;
    margin-bottom: .5rem;
    border-bottom: 1px solid #eee;
    transition: .3s background;
}

ul li:hover {
    background: #efefef;
} */

  /* Образец №2 / */

  /* Образец №3 */

.panel {
    display: flex;
    justify-content: center;
}  

.group:first-child {
    border-right: 1px solid #ccc;
    margin-right: 1rem;
    padding-right: 1rem;
}

.btn {
    padding: .7rem 2rem;
    border: 1px solid #ccc;
    background: #f7f7f7;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
